/Backend/obj
/.vs
/.vs/
/Backend/bin
/Backend/logs
/Backend/Properties/PublishProfiles/
/SqlToolInternal/obj/
/SqlToolExternal/obj/
/SqlToolInternal/bin/
/SqlToolExternal/bin/
/Backend/logs
.vs/
bin/
obj/
/Shared/Caching/bin
/Shared/Caching/obj
/Shared/Core/bin
/Shared/Core/obj
